html > body > .contenedor {
  margin: 0 15%;
  width: auto;
}
html > body > div.contenedor > h2.titulo {
  font-family: "Poppins";
  font-size: 50px;
}
html > body > div.contenedor > p.texto {
  font-family: "Poppins";
  font-size: 20px;
  line-height: 30px;
  color: black;
}
